<h1>Primera práctica integradora</h1>

<div class="">
    <input id="box">
    <button id="button">Enviar</button>
</div>

<div class="">
    <p id="registros"></p>
</div>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/chat.js"></script>